body {
  background-color: #F5F4F3;
  color: #141413;
}

a {
  text-decoration: none;
}

.fa-ul {
  margin-left: 0;
}

.icon {
  padding-right: 5%;
}

.container {
  margin: 0 10%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title {
  font-family: 'Lora', serif;
  font-size: 400%;
}

li {
  display: list-item;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 130%;
  margin: 5% 0;
  transition: left 1s;
}
