body {
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

.fa-ul {
  margin-left: 0;
}

.icon {
  padding-right: 3%;
}

.container { /* mobile */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20% 0 10% 5%;
  width: 80%;
}

.title { /* mobile */
  font-size: 250%;
  font-family: 'Lora', serif;
}

li { /* mobile */
  font-size: 80%;
  font-family: 'Source Sans Pro', sans-serif;
  display: list-item;
  transition: left 1s;
  line-height: 160%;
  margin: 5% 0;
}

@media (min-width: 1024px) {
  .container { /* desktop */
    margin: 15% 0 10% 20%;
    max-width: 60%;
  }

  .title { /* desktop */
    font-size: 400%;
  }

  li { /* desktop */
    font-size: 110%;
    line-height: 100%;
    margin: 4% 0;
  }
}
